@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body, html{
    background-color: #253B40;
    width: 100vw;
    height: 100vh;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login{
    position: absolute;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);

    transition: width 0.3s, height 0.3s;
}

div#imagem{
    background-color: #253B40;
    background-image: url(../imagens/pexels-pixabay-273209.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    display: block;
}

div#formulario{
    display: block;
    padding: 10px;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p{
    font-size: 0.8em;
}

div.campo{
    display: block;
    text-align: center;
    margin-top: 10px;
}

label{
    display: block;
    text-align: center;
}